{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "qunit": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": false,
      "modules": true
    }
  },
  "rules": {
    "quotes": [2, "single"]
  },
  "plugins": []
}
