.video-js.vjs-dvrseekbar {

  &.vjs-live {
    .vjs-progress-control {
      display: flex;
    }
  }

  .vjs-live-control {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex: none;
    -webkit-box-flex: none;
    -moz-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
  }

  .vjs-live-display {
    margin: 0.6em auto 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #bfbfbf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 4px;
    line-height: 16px;
  }

  &.vjs-dvrseekbar-onair {
    .vjs-live-display {
      cursor: auto;
      background-color: #46a546;
    }
  }

}

